html{font-size: 16px;text-align: center;}
*{box-sizing: border-box;}
body{margin: 0;padding: 0}
button{
  font-size: 1rem;
  padding: 1rem;
  margin: .5rem;
  border-radius: .5rem
}
p img{height: 1em}
.col2{
  display: inline-block;
  margin: 0;
  text-align: center;
}
.d-group{
  border: 0.05rem solid;
  margin: .2rem;
}
.modal-bk {
  padding-top: 50vh;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
}
.modal {
  background: white;
  display: inline-block;
  padding: 2rem;
  margin-top: -50%;
}
.no-display{
  display: none;
}
@media screen and (max-device-width:500px) {
  html{font-size: 60px}
  input[type='range']{transform: scale(4.5);}
}
