
[Unit]
Description=Python api for R-ControlPi
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/local/bin/uwsgi --ini /home/pi/rcontrolpi/app/app.ini
Restart=on-failure
User=pi
