
[Unit]
Description=Python api for R-ControlPi
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
WorkingDirectory=/home/pi/rcontrolpi/app
ExecStart=/usr/bin/python /home/pi/rcontrolpi/app/schedule.py
Restart=always
User=pi
